doc/Declaracion-v1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aem="http://valida.aem.gob.cl" targetNamespace="http://valida.aem.gob.cl" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="TiposSicex-v1-0.xsd"/>
	<xsd:include schemaLocation="HojaAnexaVehiculo-v1-0.xsd"/>
	<xsd:include schemaLocation="Despachador-v1-0.xsd"/>
	<xsd:include schemaLocation="Importador-v1-0.xsd"/>
	<xsd:include schemaLocation="Prorroga-v1-0.xsd"/>
	<xsd:include schemaLocation="Inspeccion-v1-0.xsd"/>
	<xsd:include schemaLocation="ZonaPrimaria-v1-0.xsd"/>
	<xsd:include schemaLocation="DocumentoComercial-v1-0.xsd"/>
	<xsd:include schemaLocation="Mercancia-v1-0.xsd"/>
	<xsd:include schemaLocation="Consignante-v1-0.xsd"/>
	<xsd:include schemaLocation="Origen-v1-0.xsd"/>
	<xsd:include schemaLocation="Almacenaje-v1-0.xsd"/>
	<xsd:include schemaLocation="RegimenSuspensivo-v1-0.xsd"/>
	<xsd:include schemaLocation="AntecedentesFinancieros-v1-0.xsd"/>
	<xsd:include schemaLocation="HojaDeInsumosDATPA-v1-0.xsd"/>
	<xsd:include schemaLocation="HojaAnexa-v1-0.xsd"/>
	<xsd:include schemaLocation="Aclaracion-v1-0.xsd"/>
	<xsd:annotation>
		<xsd:documentation> Nombre Esquema: Declaracion-v1-0.xsd Esquema: Basal </xsd:documentation>
		<xsd:appinfo>
			<dc:title>Schema de Declaracion</dc:title>
			<dc:subject> .</dc:subject>
			<dc:creator> Consorsio everis/Crimson Logic. </dc:creator>
			<dc:contributor>Consorcio everis/Crimson Logic</dc:contributor>
			<dc:date>2014-12-09</dc:date>
			<dc:description> Schema de Declaracion para uso en esquemas del Gobierno de Chile </dc:description>
			<dc:identifier> http://valida.aem.gob.cl/basales/Declaracion-v1-0.xsd </dc:identifier>
			<dc:format>text/xml</dc:format>
			<dcterms:created>2014-12-09</dcterms:created>
			<dc:type>XML Schema</dc:type>
			<dc:language>es</dc:language>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:complexType name="DeclaracionType">
		<xsd:sequence>
			<xsd:element name="NumeroIdentificacion" type="aem:SicexNumericoCuatro" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 748, 1000, 324
						Descripcion: Declaracion->
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CodigoAduana" type="aem:SicexNumericoDos" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 1099, 326
						Descripcion: Declaracion->
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FechaAceptacion" type="aem:SicexFechaHora" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 1104, 553
						Descripcion: Declaracion->
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NombreAduana" type="aem:SicexStringSeis" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 18, 299
						Descripcion: Declaracion->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CampoForm" type="aem:SicexNumericoDos" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 323
						Descripcion: Declaracion->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FechaDeVencimiento" type="aem:SicexFechaHora" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 325
						Descripcion: Declaracion->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CodigoTipoOperacion" type="aem:SicexNumericoTres" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 328
						Descripcion: Declaracion->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TipoDeIngreso" type="aem:SicexStringUno" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 596
						Descripcion: Declaracion->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumeroEncriptado" type="aem:SicexStringCuatro" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 583
						Descripcion: Declaracion->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Estado" type="aem:SicexEnum" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 1352
						Descripcion: Declaracion->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UrlDin" type="aem:SicexStringDiez" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 1372
						Descripcion: Declaracion->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TipoDestinacion" type="aem:SicexNumericoTres" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 98
						Descripcion: Declaracion->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegionIngreso" type="aem:SicexStringCinco" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 719
						Descripcion: Declaracion->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MercanciaInscritaDescrita" type="aem:SicexNumericoTres" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Numero Secuencia Matriz Armonizacion: 579
						Descripcion: Item->
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HojaAnexaVehiculo" type="aem:HojaAnexaVehiculoType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Despachador" type="aem:DespachadorType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Importador" type="aem:ImportadorType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Prorroga" type="aem:ProrrogaType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Inspeccion" type="aem:InspeccionType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ZonaPrimaria" type="aem:ZonaPrimariaType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocumentoComercial" type="aem:DocumentoComercialType" minOccurs="0" maxOccurs="99">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Mercancia" type="aem:MercanciaType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Consignante" type="aem:ConsignanteType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Origen" type="aem:OrigenType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Almacenaje" type="aem:AlmacenajeType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegimenSuspensivo" type="aem:RegimenSuspensivoType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AntecedentesFinancieros" type="aem:AntecedentesFinancierosType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HojaDeInsumosDATPA" type="aem:HojaDeInsumosDATPAType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HojaAnexa" type="aem:HojaAnexaType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Aclaracion" type="aem:AclaracionType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<!-- Documentar -->
						.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="SchemaVersion" type="xsd:decimal" use="required" fixed="1.0">
			<xsd:annotation>
				<xsd:documentation> Version del esquema. Permite la persistencia de la version del
					esquema en instancias xml (Guia de Desarrollo y Uso De Esquemas De Gobierno v1.1
					- 5.4.3) </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
